{
  "name": "Pacote SAM",
  "label": "Ações de Samantha",
  "description": "Algumas ações legais.",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "commands": []
}